---
layout: default
---

<!-- Page Header -->
{% if page.background %}
<header class="masthead" style="background-image: url('{{ page.background | prepend: site.baseurl | replace: '//', '/' }}')">
  {% else %}
  <header class="masthead">
    {% endif %}
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>{{ site.title }}</h1>
            {% if site.description %}
            <span class="subheading">{{ site.description }}</span>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </header>

  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <h1>Here are my two most important posts!<br> </h1>
        <h3><a href="https://tealtheavocado.github.io/florazhang/2023/05/05/osu.html">Flora’s guide to OSU's post-bacc in comptuer science </a></h3>
        <h3><a href="https://tealtheavocado.github.io/florazhang/2023/05/04/guide-to-swe-internships.html">Flora’s guide to software engineering internships</a></h3>

        


        <!-- Pager -->
        <div class="clearfix">
          <a class="btn btn-primary float-right" href="{{"/posts" | relative_url }}">View All Posts &rarr;</a>
        </div>

      </div>
    </div>
  </div>